@import url('//fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

html,
body {
    height: 100%;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

::selection {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
}

.back-to-top:hover{
    color: #000000 !important;
    border: 1px solid #000000 !important;
}
.back-to-top {
    position: fixed;
    bottom: 100px;
    right: 25px;
    color: #8d8d8d !important;
    border: 1px solid #8d8d8d !important;
    border-radius: 5px !important;
    display: none;
}