@import url('//fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
html,
body {
    height: 100%;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
::selection{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand{
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
}