{% extends 'base.html' %}
{% load humanize %}

{% block title %} {{title}} {% endblock title %}

{% block content %}
<div class="container">
  {% if error == True %}
  <div class="text-center">
    <h1>Oops!</h1>
    <h4>Looks like there's a Glich in the Matrix!</h4>
    <p>Follow <a href="{{link}}" target="_blank" rel="noopener noreferrer">this path</a> to find your true self.</p>
  </div>
  {% else %}
  <div class="text-center">
    <h5> <b>{{heading|title}}</b> </h5>
    <img src="{{image}}" class="img-fluid rounded" alt="...">
    <br>
    <small class="text-muted"> {{caption}} <br> {{time}} </small>
    <br>
  </div>
  <p> {{description}} </p>
  {% endif %}
</div>
<div class="text-center p-4">
  <small class="text-muted">
    <b>Credits: </b> <a href="https://www.aljazeera.com/topics/events/coronavirus-outbreak.html" target="_blank"
      rel="noopener noreferrer">Aljazeera News</a>
  </small>
</div>
{% endblock content %}