{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="text-center">
    <h2>Covid-19-Statistics</h2>
    <p>Global and local updates and figures of the ever surging pandemic Covid-19</p>
</div>
{% if error == True %}
<h1 class="text-center text-danger">{{msg}}</h1>
{% else %}
<h4 class="text-center">World Wide</h4>
<h6 class="text-center"> Updated on {{date}} at {{time}}</h6>
<div>
    <div class="row h-75 justify-content-center align-items-center">
        <div class="col-sm-5">
            <div class="card border-primary mb-4">
                <div class="card-header border-primary">
                    <h6>Total Confirmed</h6>
                </div>
                <div class="card-body">
                    <p>{{ world.TotalConfirmed|intword|intcomma }} Cases </p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-6">
                    <div class="card border-success mb-2">
                        <div class="card-header border-success">
                            <h6>Total Recovered</h6>
                        </div>
                        <div class="card-body">
                            <p>{{world.TotalRecovered|intword|intcomma}} Cases</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card border-danger mb-2">
                        <div class="card-header border-danger">
                            <h6>Total Deaths</h6>
                        </div>
                        <div class="card-body">
                            <p>{{world.TotalDeaths|intword|intcomma}} Cases</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card border-primary mb-4">
                <div class="card-header border-primary">
                    <h6>New Confirmed</h6>
                </div>
                <div class="card-body">
                    <p>{{world.NewConfirmed|intword|intcomma}} Cases</p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-6">
                    <div class="card border-success mb-2">
                        <div class="card-header border-success">
                            <h6>New Recovered</h6>
                        </div>
                        <div class="card-body">
                            <p>{{world.NewRecovered|intword|intcomma}} Cases</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card border-danger mb-2">
                        <div class="card-header border-danger">
                            <h6>New Deaths</h6>
                        </div>
                        <div class="card-body">
                            <p>{{world.NewDeaths|intword|intcomma}} Cases</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 class="text-center">Country Wide</h4>
<div class="p-2">
    <table class="table table-responsive">
        <thead>
            <tr>
                {% for col in columns %}
                <th scope="col">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
            <tr>
                <td>{{country.Country}}</td>
                <td>{{country.TotalConfirmed|intcomma}}</td>
                <td>{{country.NewConfirmed|intcomma}}</td>
                <td>{{country.TotalDeaths|intcomma}}</td>
                <td>{{country.NewDeaths|intcomma}}</td>
                <td>{{country.TotalRecovered|intcomma}}</td>
                <td>{{country.NewRecovered|intcomma}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}