{% extends 'base.html' %}
{% load humanize %}

{% block title %} Covid-19-Updates by Groot-Core {% endblock title %}

{% block content %}

<div class="text-center">
    <h2>Covid-19-Statistics</h2>
    <p>Global and local updates and figures of the ever surging pandemic Covid-19</p>
</div>
<style>
    iframe {
        width: 100%;
        height: 600px;
        border: none !important;
    }
</style>
<iframe
    src="https://ourworldindata.org/coronavirus-data-explorer?tab=map&zoomToSelection=true&country=OWID_WRL~Africa~Europe~Asia~SouthAmerica~NorthAmerica~Oceania&casesMetric=true&interval=total&hideControls=true&smoothing=0&pickerMetric=location&pickerSort=asc"
    loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
<small class="text-muted float-right"> Use the tabs below the chart to navigate to different visualizations. </small>
{% if error == True %}
<h1 class="text-center text-danger">{{msg}}</h1>
{% else %}
<hr>
<h4 class="text-center">Global Charts</h4>
<h6 class="text-center"> Updated on {{date}} at {{time}}</h6>
<div class="p-2">
    <table class="table table-responsive">
        <thead>
            <tr>
                {% for col in columns %}
                <th scope="col">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>World</td>
                <td>{{world.TotalConfirmed|intword|intcomma}}</td>
                <td>{{world.NewConfirmed|intword|intcomma}}</td>
                <td>{{world.TotalDeaths|intword|intcomma}}</td>
                <td>{{world.NewDeaths|intword|intcomma}}</td>
                <td>{{world.TotalRecovered|intword|intcomma}}</td>
                <td>{{world.NewRecovered|intword|intcomma}}</td>
            </tr>
            {% for country in countries %}
            <tr>
                <td>{{country.Country}}</td>
                <td>{{country.TotalConfirmed|intcomma}}</td>
                <td>{{country.NewConfirmed|intcomma}}</td>
                <td>{{country.TotalDeaths|intcomma}}</td>
                <td>{{country.NewDeaths|intcomma}}</td>
                <td>{{country.TotalRecovered|intcomma}}</td>
                <td>{{country.NewRecovered|intcomma}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}